section {
	margin: 3em auto;
	max-width: 60em;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	gap: 0.5em;
	flex-direction: column;
}

pre {
	white-space: pre-wrap;
	background: #333;
	color: #aaa;
	height: 10em;
	overflow: auto;
	resize: vertical;
	padding: 1em;
	box-sizing: border-box;
	margin: 0;
}

textarea {
	white-space: pre-wrap;
	background: #ffffee;
	color: #000;
	width: 100%;
	min-height: 10em;
	border: 0;
	resize: vertical;
	padding: 1em;
	box-sizing: border-box;
}

.number-picker {
	display: flex;
	align-items: center;
	gap: 1em;
}

input[type="range"] {
	padding: 1em;
	margin: 0;
}

input[type="text"] {
	margin: 0;
}

.phantom {
	visibility: hidden;
}

.controls {
	display: flex;
	margin: 1em 0;
}

button {
	border: none;
	background: #111;
	color: #fff;
	padding: 0.3em 0.5em;
	display: inline-block;
	font: inherit;
	cursor: pointer;
}

.simple-form {
	display: grid;
	grid-template-columns: auto auto;
	gap: 0.5em;
	justify-content: start;
}

.simple-form > label {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: 1 / span 2;
}

.error-message {
	color: #aa0000;
}

.has-error {
	background: #ffeeee;
	outline: 3px solid #aa0000;
	color: #330000;
}

.beside {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
	justify-items: stretch;
	align-items: stretch;
	gap: 0.5em;
	resize: vertical;
	min-height: 10em;
	overflow: hidden;
	padding: 2px 0.5em 0.5em 2px;
}

.beside > * {
	flex-grow: 1;
	height: 100%;
}

.beside * {
	resize: none;
}

.asciiart {
	white-space: pre;
	font-family: monospace;
	line-height: 1;
	line-break: none;
}

.scroller {
	min-height: 10em;
	resize: both;
	overflow: scroll;
	height: 30em;
	position: relative;
}

.scroller-space {
	height: calc(var(--scroll-y, 1) * 1px  + 10000px);
	width: calc(var(--scroll-x, 1) * 1px  + 2000px);
	position: absolute;
	top: 0;
	left: 0;
}

.scroller-body {
	position: absolute;
	left: calc(var(--scroll-x, 0) * 1px);
	top: calc(var(--scroll-y, 0) * 1px);
	width: calc(var(--scroll-w, 0) * 1px);
	height: calc(var(--scroll-h, 0) * 1px);
	display: flex;
	flex-direction: column;
	gap: 2px;
	overflow: hidden;
}

.scroller-row {
	display: flex;
	gap: 2px;
	flex-grow: 1;
	position: relative;
	left: calc(var(--scroll-ox, 0) * -1px);
	top: calc(var(--scroll-oy, 0) * -1px);
	width: calc(var(--scroll-w, 0) * 1px + (2*var(--scroll-rw)) * 1px);
	height: calc(var(--scroll-h, 0) * 1px + (2*var(--scroll-rh)) * 1px);
}

.scroller-cell {
	flex-grow: 1;
	text-align: center;
	background: #fafafa;
	box-sizing: border-box;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}